*{
  padding: 0;
  margin: 0;
}

.imgSlider{
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  top: 30px;
  /* align-items: center;  */
}
.image{
  width: 1000px;
  height: 600px;
  border-radius: 10px; 
  background-size: cover;
}
.right-arrow{
  position: absolute;
  top: 40%;
  right: 32px;
  font-size: 2rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.left-arrow{
  position: absolute;
  top: 40%;
  left: 32px;
  font-size: 2rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.slider{
  opacity: 0;
  transition-duration: 1s ease;
}
.slider.active{
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}